elevenlabs
python-dotenv
playsound3
pydub
ffmpeg
openai
sounddevice
streamlit
numpy
anyio
babel
beautifulsoup4
Brotli
bs4
certifi
charset-normalizer
click
courlan
dateparser
ddgs
dotenv
filelock
fsspec
h11
h2
hf-xet
hpack
htmldate
httpcore
httpx
huggingface-hub
hyperframe
idna
jusText
lxml
lxml_html_clean
newsapi-python
packaging
primp
python-dateutil
pytz
PyYAML
regex
requests
safetensors
six
sniffio
socksio
soupsieve
tld
tokenizers
tqdm
trafilatura
transformers
typing_extensions
tzlocal
urllib3
